Release Log: {{ APPLICATION }} Version {{ VERSION }}

1. Date of test results: {{ TESETING_DATE }}

   The following two links contain the test results for the release, these results are also included
   in the release folder of the repository.

   next/devel results: {{ DEVEL_URL }}
   master results: {{ MAIN_URL }}

2. Person evaluating the test results.

   Your Name

3. The support software versions and hardware configurations used for test results.

   - GitHub: {{ PROJECT_URL }} (This is a website/service, there is no version number to report)
   - CIVET: https://github.com/idaholab/civet

   The hardware configurations are contained in the included (and linked) tests results. These results
   include output from each named recipe. Each recipe reports the hardware configuration used. The
   recipe versions utilized for this release can be found in the following version of the recipes
   repository.
   - civet_recipes: https://github.com/idaholab/civet_recipes/tree/{{ CIVET_RECIPE_SHA }}

4. Evidence that any unexpected or unintended test results have been dispositioned.

5. Any actions taken in connection with any deviations from this plan.
   There are no known deviations from PLN-4005, Rev. 10.

6. A list of all CIs, as defined in Section 7.1, with the following exceptions: (1) CIs in the
   repository and (2) software libraries. The ability to list the CIs in the exceptions is inherent to
   the version control system.
   - Software quality assurance plan (SQAP): INL, PLN-4005, Rev. 10, 2025/03/04
   - Safety-software determination (SSD): INL, SSD-000709, Rev. 3
   - Quality-level determination (QLD): INL, ALL-000875, Rev. 1
   - Capabilities & Technology Management System: "Multiphysics Object Oriented Simulation Environment (MOOSE)
     with ID APM0002312

7. Acceptability.
   The results are acceptadble for release.
